<div class="ui card">
  <div class="image">
    <img src="http://image.mp3.zdn.vn/avatars/9/4/94a811fab0e73003b0dc5eff21cb6c1d_1437620650.jpg">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <img src="http://media.mangtinmoi.com/files/news/2016/08/Tu%E1%BA%A5n-T%C3%BA-2016-Tu%E1%BA%A5n-Anh-2-l%C3%A0-ai-v%C3%A0-c%C6%A1n-s%E1%BB%91t-phong-c%C3%A1ch-l%E1%BA%ADp-d%E1%BB%8B-3.jpg">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <img src="http://s2.chacha.vn/albums/s1/3/29842/29842.jpg">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <img src="http://image.mp3.zdn.vn/covers/b/6/b6444f760bdf69d6e33fd083e774f9d7_1440496402.jpg">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <img src="https://i.ytimg.com/vi/Ic17hMar0KI/maxresdefault.jpg">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
