.scrollToTop {
  width: 100px;
  height: 130px;
  padding: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  z-index: 1000;
  top: 500px;
  right: 10px;
  display: none;
  background: url('../image/go-top.png') no-repeat 0px 20px;
}
